In [1]:
import pandas as pd
import pylab
import seaborn as sns
import numpy as np
import datetime
import copy
from sklearn.model_selection import cross_val_score
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
import utils
df = utils.get_data()
len(df)

348

In [3]:
df.head()

,month,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed,unix_days
0,1,45,45,45.6,45,43,50,44,29,1,0,0,0,0,0,0,735963
1,1,44,45,45.7,44,41,50,44,61,0,0,1,0,0,0,0,735964
2,1,45,44,45.8,41,43,46,47,56,0,0,0,1,0,0,0,735965
3,1,44,41,45.9,40,44,48,46,53,0,1,0,0,0,0,0,735966
4,1,41,40,46.0,44,46,46,46,41,0,0,0,0,0,1,0,735967

### Build test harnesses

Build a test harness for toy problem of predicting. Cross validation as and regression scoring as a function in utils; shuffles X and y, performs cross validation with negative mean absolute error scoring.

In [4]:
X = np.array(df[["month", "temp_2", "temp_1", "average", "week_Fri", "week_Mon", "week_Sat", "week_Sun", "week_Thurs", "week_Tues", "week_Wed", "unix_days"]])
y = np.array(df["actual"])
print(X.shape)
print(y.shape)

(348, 12)
(348,)

In [5]:
class UseAverageOnly(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass
    
    def fit(self, X, y=None):
        return self
    
    def predict(self, X, y=None):
        # assume the average is the 3rd column, and use that as the prediction
        return copy.deepcopy(X[:,3])

In [7]:
clf = UseAverageOnly()
import utils
scores = utils.get_cross_val_scores(clf, X, y, 5)
print(scores)

[-5.75857143 -4.96428571 -4.48142857 -4.21304348 -5.24202899]

Baseline has a mean absolute error of around 5 Farenheit.